.container
  .row
    .col-2
    .col-8= image_tag('clinic1.png', class: 'img-fluid')
    .col-2
.container.mb-5
  .mt-5
    .row
      .col-1
      .col-10
        %h4.ch4
          %i.fas.fa-hospital
          %sapn 当院について
    .row.mt-3.pb-5
      .col-1
      .col-10.tc-w= simple_format "　石垣歯科は1938年に初代院長の石垣久男が津島神社近くの浦方町にて開業し、2代目院長の光敏へと引き継ぎ長らく診療をして参りました。\nそして80周年目となる節目の年に3代目院長の賢二郎の代になり、より現代のニーズに応えられよう設備の充実を図り2018.9藤浪駅の前へと移転しリニューアル致しました。"
  .mt-5
    .row.mt-5
      .col-1
      .col-10
        %h4.ch4
          %i.fas.fa-pump-medical
          %sapn 衛生管理について
    .row.pt-3
      .col-1
      .col-10
        .row
          .col-4.text-center= image_tag('衛生管理.JPG', class: 'img-fluid')
          .col-4.text-center= image_tag('衛生管理２.JPG', class: 'img-fluid')
          .col-4.text-center= image_tag('衛生管理３.JPG', class: 'img-fluid')
      .col-1
    .row.pt-3
      .col-1
      .col-10 患者様に安心して、安全な歯科治療を受けていただけるように、いしがき歯科では衛生管理の徹底に努めています。
    .row
      .col-1
      .col-10 ヨーロッパ基準のクラスB滅菌器など、当院が取り組んでいる衛生管理の詳細についてご紹介します。
    .row.mt-5
      .col-1
      .col-10
        .row
          %h5.col-4.text-center= simple_format "DAC プロフェッショナル\n　(クラスＢ 滅菌器)"
          %h5.col-4.text-center= simple_format "DAC ユニバーサル"
          %h5.col-4.text-center= simple_format "エアロクリーン\n　(最高基準の空気清浄機)"
    .row
      .col-1
      .col-10
        .row
          .col-4.text-center= image_tag('sterilizer.png', class: 'img-fluid')
          .col-4.text-center= image_tag('mouth_sterilizer.png', class: 'img-fluid')
          .col-4.text-center= image_tag('35md_pic_01.png', class: 'img-fluid')
    .row.mt-3
      .col-1
      .col-10
        .row
          .col-4= simple_format "世界の中でも特に厳しい衛生管理の基準を設けているヨーロッパの規格にはいくつかのランクがあります。\nそのひとつである「クラスB」は世界最高基準にあたり、当院はこのクラスBの滅菌器を導入しています。\nミラーやピンセットといった治療器具を使用するたびに高圧水蒸気での滅菌を欠かさず、治療器具を介した院内感染の防止を徹底しています。"
          .col-4= simple_format "歯を削る処置に使用するハンドピースには、多くの細菌が含まれた血液や唾液が付着します。そのため、通常の洗浄だけでは不十分です。\nそこで当院ではハンドピース専用の滅菌器を使用。洗いにくい器具の内部まで徹底して滅菌を行っています。"
          .col-4= simple_format "安心で・安全・清潔でやさしい医療環境づくりを当院では心がけております。\n当院では患者さまが安心してご来院いただけますよう、医療施設用高性能空気清浄装置エアロシステム 35MDを設置しています。\nこのシステムは、国公立病院や大学病院の手術室で採用されており、信頼性も高く空気中のウイルス、細菌、微粉塵、花粉、PM2.5等をすばやく除去することができます。\n定期的なメンテナンスを実施していますので、常に安全で清潔な空気環境を送り出しています。"
  .mt-5
    .row
      .col-1
      .col-10
        .row
          .col-12
            %h4.ch4
              %i.fas.fa-x-ray
              %sapn CT撮影について
    .row.pt-3
      .col-1
      .col-10
        .ct.text-center
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "415", :src => "https://www.youtube.com/embed/e0Z8a7a46MI", :width => "660"}
    .row.mt-3
      .col-1
      .col-10
        .row
          .col-12= simple_format "撮影では、放射線を受けることになります。しかし、歯科用のレントゲン撮影で受ける放射線量は、日常生活で自然界から受ける量のわずか1/50～1/60程度しかありません。\n当院では、デジタルレントゲンを使用し、放射線量を極力少量にしておりますので、安心して治療を受けて頂くことができます。\nCT撮影をすることにより、平面のレントゲンではわかりにくかった骨の厚みや歯の根っこの状態、埋伏歯（まだ生えてきていない永久歯や過剰歯など）の状態や位置、歯周病の進行状況、神経の位置などを正確に把握することができ、診査・診断の精度が増します。\n立体的に撮影することにより、今まで見えなかった部分を見て診察することが出来るので、今までは原因不明とされた痛みや不調もCT撮影をすることで、その原因が把握できる場合もあります。\nそのため歯の痛みを感じているのに歯には問題ないため適切な処置が行えない……というような場合もCT撮影をすれば原因を把握することが出来るのです。"