.container
  .row.pt-5
    .col-12= image_tag('facilities.png', class: 'img-fluid')
.container.mb-5
  .border-green-area
    .row.pt-2
      .col-12
        %h5 駐車場
    .row
      .col-12.text-center= image_tag('http://placehold.jp/400x200.png?text=駐車場', class: 'img-fluid')
    .row
      .col-12.pt-5
        %h5 受付
    .row
      .col-12.text-center= image_tag('http://placehold.jp/400x200.png?text=受付', class: 'img-fluid')
    .row
      .col-12.pt-5
        %h5 キッズスペース
    .row
      .col-12.text-center= image_tag('http://placehold.jp/400x200.png?text=キッズスペース', class: 'img-fluid')
    .row
      .col-12.pt-5
        %h5 診察室
    .row
      .col-12.text-center= image_tag('http://placehold.jp/400x200.png?text=診察室', class: 'img-fluid')
    .row
      .col-12.pt-5
        %h5 特診室
    .row
      .col-12.text-center= image_tag('http://placehold.jp/400x200.png?text=特診室', class: 'img-fluid')
    .row
      .col-12.pt-5
        %h5 ＣＴルーム
    .row.pb-2
      .col-12.text-center= image_tag('http://placehold.jp/400x200.png?text=ＣＴルーム', class: 'img-fluid')
