.container
  .row.pt-5
    .col-12= image_tag('facilities.png', class: 'img-fluid')
.container.mb-5
  .border-green-area
    .row.pt-2
      .col-12
        %h5 駐車場
    .row
      .col-12.text-center= image_tag('駐車場.JPG', class: 'img-fluid')
    .row
      .col-12.pt-5
        %h5 受付
    .row
      .col-12.text-center= image_tag('受付JPG.JPG', class: 'img-fluid')
    .row
      .col-12.pt-5
        %h5 キッズスペース
    .row
      .col-12.text-center= image_tag('slide2.jpg', class: 'img-fluid')
    .row
      .col-12.pt-5
        %h5 診察室
    .row
      .col-12.text-center= image_tag('診察室.jpg', class: 'img-fluid')
