.container
  .row
    .col-2
    .col-8= image_tag('clinic1.png', class: 'img-fluid')
    .col-2
.container.mb-5.mt-5
  .row.mt-5
    %h4.ch4
      %i.fas.fa-hospital-user
      %sapn 施設案内
  .row.pt-2
    .col-6
      %h5
        %sapn 駐車場
    .col-6
      %h5
        %sapn 受付
  .row
    .col-6= image_tag('駐車場.JPG', class: 'img-fluid')
    .col-6= image_tag('受付JPG.JPG', class: 'img-fluid')
  .row.mt-5
    .col-6
      %h5
        %sapn キッズスペース
    .col-6
      %h5
        %sapn 診察室
  .row
    .col-6= image_tag('slide2.jpg', class: 'img-fluid')
    .col-6= image_tag('診察室.jpg', class: 'img-fluid')
  .row.mt-3
    .col-6
      %h5
        %sapn カウンセリングルーム
  .row
    .col-6= image_tag('counseling_room.jpg', class: 'img-fluid')
