= form_for @admin_notification do |f|
  - if @admin_notification.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_notification.errors.count, "error")} prohibited this admin_notification from being saved:"
      %ul
        - @admin_notification.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :text, 'お知らせ内容'
    = f.text_area :text, class: 'form-control'
  .actions
    = link_to '戻る', admin_notifications_path, class: 'btn btn-info'
    = f.submit '保存', class: 'btn btn-primary'
