%h2 お知らせ一覧
.table-responsive
  %table.table.text-nowrap.table-bordered.table-striped
    %thead.thead-light
      %tr
        %th お知らせ内容
        %th
    %tbody
      - @admin_notifications.each do |admin_notification|
        %tr
          %td= admin_notification.text.truncate(30)
          %td.text-right
            = link_to 'プレビュー', admin_notification, class: 'btn btn-info'
            = link_to '編集', edit_admin_notification_path(admin_notification), class: 'btn btn-success'
            = link_to '削除', admin_notification, method: :delete,
              data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn btn-danger'

= link_to '新規作成', new_admin_notification_path, class: 'btn btn-primary'
