.container
  .row.pt-5
    .col-4.pr-1.pl-1= link_to(image_tag('hygienist_baner.png', class: 'img-fluid',
      alt: '歯科衛生士(常勤)'), { anchor: 'part-hygienist' })

    .col-4.pr-1.pl-1= link_to '歯科衛生士(パート)', { anchor: 'part-hygienist' }

    .col-4.pr-1.pl-1= link_to(image_tag('reception_assistant.png', class: 'img-fluid',
      alt: '受付助手'), { anchor: 'reception' })
.container
  .row.pt-3
    .col-12= image_tag('recruits.png', class: 'img-fluid')
.container.mb-5
  .border-green-area
    .row
      #hygienist.col-12.mt-1
        %h5 歯科衛生士(常勤)
    .row
      .col-12.mt-3
        %h6.text-center= simple_format("週休2日◎託児所あり♪\nブランクOK！\n働きやすさを追求しています☆")
    .row
      .col-12 愛知県津島市の「いしがき歯科」は、開院して80周年を迎える歴史のある医院で、この度平成30年9月に医院を移転・リニューアルしました！フルタイムで一緒に働く仲間を募集しています！
    .row
      .col-12 お仕事は、予防処置、保健指導、診療補助などの歯科衛生士業務全般となります。時間外労働は月平均10時間程度と少なめで、木・日・祝日の週休2日制を実施しています。また、長期休暇もしっかりありますので、プライベートも安心です。
    .row
      .col-12 歯科衛生士の資格をお持ちの方でしたら、経験や年齢は問いません。ブランクのある方でもご応募可能です。子育て中の方も安心して働けるよう、提携託児施設を用意しています。
    .row
      .col-12 私たちと一緒にいしがき歯科でスタッフとして働きませんか？ご応募お待ちしております。
    .row
      .col-12.mt-4
        %h6 仕事内容
    .row
      .col-12 予防歯科・予防処置・保健指導・診療補助
    .row
      .col-12.mt-4
        %h6 診療科目・サービス形態
    .row
      .col-12 一般歯科・小児歯科・口腔外科
    .row
      .col-12.mt-4
        %h6 給与
    .row
      .col-12 【正職員】月給 220,000円 〜 270,000円
    .row
      .col-12.mt-4
        %h6 給与備考
    .row
      .col-12 ・基本給　183,000円～233,000円
    .row
      .col-12 ・資格手当　～20,000円
    .row
      .col-12 ・勤務手当　～17,000円
    .row
      .col-12 ・通勤手当　別途支給
    .row
      .col-12 ・賞与あり　年2回　計2～3ヶ月分
    .row
      .col-12 ・※試用期間4ヶ月（条件変更なし）
    .row
      .col-12.mt-4
        %h6 待遇
    .row
      .col-12 ・託児所・保育支援あり
    .row
      .col-12 ・賞与あり
    .row
      .col-12 ・交通費支給
    .row
      .col-12 ・マイカー通勤可
    .row
      .col-12 ・職場見学可
    .row
      .col-12 ・雇用保険、労災保険、
    .row
      .col-12= '　健康保険、歯科医師国保'
    .row.mt-2
      .col-12.attention 　※加入保険は法定通り
    .row
      .col-12.attention 　※託児所あり
    .row
      .col-12.attention 　※制服貸与
    .row
      .col-12.mt-4
        %h6 勤務時間
    .row
      .col-12 （1）8:45～18:45
    .row
      .col-12 （2）8:30～17:15
    .row
      .col-12 　休憩60分
    .row
      .col-12.attention 　※時間外　月平均10時間
    .row
      .col-12.mt-4
        %h6 休日
    .row
      .col-12 ・週休2日
    .row
      .col-12 ・長期休暇あり
    .row
      .col-12 ・木・日・祝日
    .row
      .col-12.mt-4
        %h6 長期休暇・特別休暇
    .row
      .col-12 ・年末年始休暇
    .row
      .col-12 ・夏季休暇
    .row
      .col-12 ・ゴールデンウィーク
    .row
      .col-12.mt-4
        %h6 応募要件
    .row
      .col-12 ・ブランク可
    .row
      .col-12 ・年齢不問
    .row
      .col-12 ・歯科衛生士資格
    .row
      .col-12 ・年齢不問
  .border-green-area.mt-5
    .row
      #part-hygienist.col-12.mt-1
        %h5 歯科衛生士(パート)
    .row
      .col-12.mt-4
        %h6 仕事内容
    .row
      .col-12 予防歯科・予防処置・保健指導・診療補助
    .row
      .col-12.mt-4
        %h6 診療科目・サービス形態
    .row
      .col-12 一般歯科・小児歯科・口腔外科
    .row
      .col-12.mt-4
        %h6 給与
    .row
      .col-12 【正職員】月給 220,000円 〜 270,000円
    .row
      .col-12.mt-4
        %h6 給与備考
    .row
      .col-12 ・基本給　183,000円～233,000円
    .row
      .col-12 ・資格手当　～20,000円
    .row
      .col-12 ・勤務手当　～17,000円
    .row
      .col-12 ・通勤手当　別途支給
    .row
      .col-12 ・賞与あり　年2回　計2～3ヶ月分
    .row
      .col-12 ・※試用期間4ヶ月（条件変更なし）
    .row
      .col-12.mt-4
        %h6 待遇
    .row
      .col-12 ・託児所・保育支援あり
    .row
      .col-12 ・賞与あり
    .row
      .col-12 ・交通費支給
    .row
      .col-12 ・マイカー通勤可
    .row
      .col-12 ・職場見学可
    .row
      .col-12 ・雇用保険、労災保険、
    .row
      .col-12= '　健康保険、歯科医師国保'
    .row.mt-2
      .col-12.attention 　※加入保険は法定通り
    .row
      .col-12.attention 　※託児所あり
    .row
      .col-12.attention 　※制服貸与
    .row
      .col-12.mt-4
        %h6 勤務時間
    .row
      .col-12 （1）8:45～18:45
    .row
      .col-12 （2）8:30～17:15
    .row
      .col-12 　休憩60分
    .row
      .col-12.attention 　※時間外　月平均10時間
    .row
      .col-12.mt-4
        %h6 休日
    .row
      .col-12 ・週休2日
    .row
      .col-12 ・長期休暇あり
    .row
      .col-12 ・木・日・祝日
    .row
      .col-12.mt-4
        %h6 長期休暇・特別休暇
    .row
      .col-12 ・年末年始休暇
    .row
      .col-12 ・夏季休暇
    .row
      .col-12 ・ゴールデンウィーク
    .row
      .col-12.mt-4
        %h6 応募要件
    .row
      .col-12 ・ブランク可
    .row
      .col-12 ・年齢不問
    .row
      .col-12 ・歯科衛生士資格
    .row
      .col-12 ・年齢不問
  .border-green-area.mt-5
    .row
      #reception.col-12.mt-1
        %h5 受付助手
    .row
      .col-12.mt-4
        %h6 仕事内容
    .row
      .col-12 予防歯科・予防処置・保健指導・診療補助
    .row
      .col-12.mt-4
        %h6 診療科目・サービス形態
    .row
      .col-12 一般歯科・小児歯科・口腔外科
    .row
      .col-12.mt-4
        %h6 給与
    .row
      .col-12 【正職員】月給 220,000円 〜 270,000円
    .row
      .col-12.mt-4
        %h6 給与備考
    .row
      .col-12 ・基本給　183,000円～233,000円
    .row
      .col-12 ・資格手当　～20,000円
    .row
      .col-12 ・勤務手当　～17,000円
    .row
      .col-12 ・通勤手当　別途支給
    .row
      .col-12 ・賞与あり　年2回　計2～3ヶ月分
    .row
      .col-12 ・※試用期間4ヶ月（条件変更なし）
    .row
      .col-12.mt-4
        %h6 待遇
    .row
      .col-12 ・託児所・保育支援あり
    .row
      .col-12 ・賞与あり
    .row
      .col-12 ・交通費支給
    .row
      .col-12 ・マイカー通勤可
    .row
      .col-12 ・職場見学可
    .row
      .col-12 ・雇用保険、労災保険、
    .row
      .col-12= '　健康保険、歯科医師国保'
    .row.mt-2
      .col-12.attention 　※加入保険は法定通り
    .row
      .col-12.attention 　※託児所あり
    .row
      .col-12.attention 　※制服貸与
    .row
      .col-12.mt-4
        %h6 勤務時間
    .row
      .col-12 （1）8:45～18:45
    .row
      .col-12 （2）8:30～17:15
    .row
      .col-12 　休憩60分
    .row
      .col-12.attention 　※時間外　月平均10時間
    .row
      .col-12.mt-4
        %h6 休日
    .row
      .col-12 ・週休2日
    .row
      .col-12 ・長期休暇あり
    .row
      .col-12 ・木・日・祝日
    .row
      .col-12.mt-4
        %h6 長期休暇・特別休暇
    .row
      .col-12 ・年末年始休暇
    .row
      .col-12 ・夏季休暇
    .row
      .col-12 ・ゴールデンウィーク
    .row
      .col-12.mt-4
        %h6 応募要件
    .row
      .col-12 ・ブランク可
    .row
      .col-12 ・年齢不問
    .row
      .col-12 ・歯科衛生士資格
    .row
      .col-12 ・年齢不問
