.container
  .row
    .col-2
    .col-8= image_tag('院長あいさつ_2.jpg', class: 'img-fluid')
    .col-2
.container.mb-5
  .row.mt-5
    .col-1
    .col-10
      %h4.ch4
        %i.fas.fa-user-md
        %sapn 院長あいさつ
  .row.pt-3
    .col-1
    .col-10= simple_format "みなさんこんにちは\nいしがき歯科院長の石垣賢二郎です。\n当院のHPを見てくださりありがとうございます。\n世の中には数多くの歯科医院がある中で何を基準に歯医者を選ぶのか？\nどこに行けば良いのか？\n本当にここで良いのだろうか？\nなど、不安に思うことがありますよね？\n今このHPをご覧になっていただいている皆様もそんな思いで見てくださっているかと思います。\n私も飲食店などを探すときには、本当にここで大丈夫なのかと不安に思う事があります、、、\n実際に行ってみて期待とは違ったり、期待以上に良かったりと色々な出会いを経験します。\n私の信条としては来てくださった皆様に「いしがき歯科に来てよかった！」と思って頂きたい、そしていしがき歯科に来てくださった皆様に「損をさせたくない！」という思いで日々の診療をこなしています。\nそのためにはやはり正確な知識と治療技術、分かりやすい説明が何よりも重要事項と考えております。\n診療を行う前には必ず説明して同意を得た後でないと治療は行いません。\nそれは自分が逆の立場であればそうして欲しいと思うからです。\n今まで培った知識を元に生まれ育ったこの地域の皆様の健康増進に少しでも自分が寄与できるように、日々これからも精進していきます。\nいしがき歯科を通じて皆様と良き出会いとなるようスタッフ一同笑顔でお待ちしています。"

  .row.pt-3
    .col-8
    .col-3= image_tag('kenjirou.png', class: 'img-fluid')
    .col-1
  .row.pt-5
    .col-1
    .col-5
      %h4.ch4
        %i.fas.fa-file-medical
        %sapn 経歴
    .col-5
      %h4.ch4
        %i.fas.fa-user-friends
        %sapn 当院のスタッフ
  .row.pt-3
    .col-1
    .col-5= simple_format "津島市立西小学校\n津島市立天王中学校\n愛知高等学校\n愛知学院大学歯学部\n愛知学院大学歯学部附属病院　臨床研修\n名古屋市立城北病院(現 西部医療センター)研修\n愛知学院大学歯学部　顎口腔外科学講座 入局\n大学病院関連施設にて勤務\nベル歯科（瀬戸市）\n若林歯科（豊田市）"
    .col-5= image_tag('スタッフ紹介.JPG', class: 'img-fluid')
