.container
  .row.pt-5
    .col-12= image_tag('clinic1-1.png', class: 'img-fluid')
.container
  .row
    .col-12.text-left
      %h4 経歴
  .row.pt-3
    .col-12 津島市立西小学校
  .row
    .col-12 津島市立天王中学校
  .row
    .col-12 愛知高等学校
  .row
    .col-12 愛知学院大学歯学部
  .row
    .col-12= simple_format "愛知学院大学歯学部附属病院\n　臨床研修"
  .row
    .col-12= simple_format "名古屋市立城北病院\n　(現 西部医療センター)研修"
  .row
    .col-12= simple_format " 愛知学院大学歯学部\n顎口腔外科学講座 入局"
  .row
    .col-12 大学病院　関連施設にて勤務
  .row
    .col-12 ベル歯科（瀬戸市）
  .row
    .col-12 若林歯科（豊田市）
.container
  .row.pt-5
    .col-12.text-left
      %h5.stripe 外観
  .row
    .col-12.pt-3.pb-3.text-left= image_tag('clinic1.png', class: 'img-fluid')
.container.pb-5
  .row.pt-5
    .col-12.text-left
      %h5.stripe 受付・待合・キッズスペース
  .row
    .col-12.pt-3.pb-3.text-left= image_tag('clinic2.png', class: 'img-fluid')

.container
  .row.mt-4.mr-1.ml-1#map
