- (1..5).each do |i|
  .d-none= image_tag("clinic#{i}.png", alt: '医院', id: "clinic#{i}")

.row.mb-3
  %h1.col-6= image_tag('logo.png', alt: 'いしがき歯科', class: 'img-fluid')
  .col-3.pt-4= image_tag('medical_hours.png', alt: '診療時間', class: 'img-fluid')
  .col-3.contact-us.mt-3.pt-4
    %p.text= 'ご予約・お問い合わせはこちら'
    %i.fas.fa-phone-volume
    = '0567-22-3977'

.row
  .col-12.text-center.clinic-img-wrapper
    = image_tag('clinic1.png', alt: '医院', class: 'img-fluid', id: 'clinic-img')
