- (1..5).each do |i|
  .d-none= image_tag("clinic#{i}.jpg", alt: '医院', id: "clinic#{i}")

.row.mb-3
  %h1.col-6= image_tag('logo.png', alt: 'いしがき歯科', class: 'img-fluid')
  .col-3.pt-4= image_tag('medical_hours.png', alt: '診療時間', class: 'img-fluid')
  .col-3.contact-us.mt-3.pt-4
    %p.text= 'ご予約・お問い合わせはこちら'
    %i.fas.fa-phone-volume
    = '0567-22-3977'
.row.mb-3
  .col-12.text-center
    = image_tag('clinic1.jpg', alt: '医院', class: 'img-fluid')
%nav.navbar.navbar-expand.navbar-light
  #navbar.collapse.navbar-collapse
    %ul.navbar-nav.mx-auto
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          トップ
      %li.nav-item
        %a.nav-link.pl-1{:href => "#"}
          院長紹介
      %li.nav-item
        %a.nav-link.pl-1{:href => "#"}
          こだわり
      %li.nav-item
        %a.nav-link.pl-1{:href => "#"}
          求人
      %li.nav-item
        %a.nav-link{:href => "#"}
          医院紹介
