%nav.navbar.navbar-expand.navbar-light.pr-0.pl-0
  #navbar.collapse.navbar-collapse
    %ul.navbar-nav.mx-auto
      %li.nav-item.text-center.active
        = link_to '#', class: 'nav-link' do
          = image_tag 'icon_home.png', class: 'nav-link-icon'
          %br
          トップ
      %li.nav-item.text-center
        = link_to '#', class: 'nav-link' do
          = image_tag 'icon_doctor.png', class: 'nav-link-icon'
          %br
          院長紹介
      %li.nav-item.text-center
        = link_to '#', class: 'nav-link' do
          = image_tag 'icon_sticking.png', class: 'nav-link-icon'
          %br
          こだわり
      %li.nav-item.text-center
        = link_to '#', class: 'nav-link' do
          = image_tag 'icon_job.png', class: 'nav-link-icon'
          %br
          求人
      %li.nav-item.text-center
        = link_to '#', class: 'nav-link' do
          = image_tag 'icon_clinic.png', class: 'nav-link-icon'
          %br
          医院紹介
