.container.pt-5.pb-5
  .row
    .col-12= link_to image_tag('110499.jpg', { class: 'img-fluid', :border => '0',
      :alt => 'ドクターズファイル'}), 'https://doctorsfile.jp/h/110499/df/1/'
  .row
    .col-12.mt-3= link_to image_tag('doctor_banner_a01.png', { class: 'img-fluid', :border => '0',
    :alt => '医療人百科'}), 'https://doctors-word.com/ishigaki_kenjiro/'

.container.news
  .row.pt-3
    .col-12.text-left
      %h4.border-bottom.tc-b 院長からのメッセージ
  .row.pb-3
    .col-12
      .news-table
        %table.table
          %tbody
            - @notification.each do |n|
              %tr
                %td= n.created_at.strftime('%Y/%m/%d')
              %tr
                %td= raw Rinku.auto_link(simple_format(n.text))

.sticking
  .container
    .row.pb-3.pt-4
      .col-12.pr-3.pl-3
        %h4.border-bottom
          %span
            %i.fas.fa-tooth.pb-1.tc-b
            %span.tc-b いしがき歯科の特徴
    - sticking = @sticking
    .row.pb-3.pl-2.pr-2
      - sticking.each_with_index do |s, i|
        .col-6.mb-3.pr-2.pl-2
          %div{class: (i == 0 || i == 1) ? 'bg-white-area' : 'bg-white-area2'}
            .row.pb-3
              .col-12{class: (i == 0 || i == 1) ? 'title' : 'title2'}= s[:title]
            .row
              .col-12.pb-3= image_tag(s[:img], alt: '医院', class: 'sticking-img')
            .row
              .col-12.text=simple_format(s[:text])
