.container.news
  .row.pt-3
    .col-12.text-center
      %h4 院長からのメッセージ
  .row.pb-3
    .col-12
      .news-table
        %table.table
          %tbody
            - @notification.each do |n|
              %tr
                %td= n.created_at.strftime('%Y/%m/%d')
              %tr
                %td= simple_format(n.text)
.trim.mt-3= image_tag('wave2.png', alt: 'いしがき歯科', class: 'img-wave')
-# .concept
-#   .container
-#     .row.pb-3
-#       .col-12
-#         %h4 コンセプト
-#         .row.mr-1.ml-1
-#           .col-12 テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
-#         .row.mr-1.ml-1
-#           .col-12 テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
-#         .row.mr-1.ml-1
-#           .col-12 テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
.sticking
  .container
    .row.pb-3.pt-4
      .col-12
        %h4 いしがき歯科の特徴
        - sticking = [{title: '①	車が停めやすい広々駐車場', img: '駐車場画像',
            text: "最大駐車数20台。\n 広い駐車スペースで安心した通院を実現。"},
          {title: '②	徹底した衛生管理', img: '院内画像',
            text: '清潔な院内環境作りと最高レベルの滅菌機器で、徹底した衛生管理に勤めています。'},
          {title: '③	丁寧なカウンセリング', img: 'カウンセリング画像',
            text: "初診時には必ずカウンセリングルームにてカウンセリングを実施。\n患者様の不安の解消・ベストな治療法の選択を行なっております。"},
          {title: '④	口腔内画像の保管', img: '口腔画像', text: "口腔内写真をカルテと共に保管。\n 次回治療に活用致します。"},
          {title: '⑤	検査結果のお渡し', img: '検査結果画像', text: '患者様自身でご自身の口腔状況を把握していただきやすいよう。検査結果を印刷してお渡ししております。'},
          {title: '⑥	できる限り痛くない麻酔', img: '麻酔画像',
            text: "麻酔処置が痛いという患者様も少なくありません。\n 当院では麻酔処置もできる限り痛くないよう務めております。"},
          {title: '⑦	将来を見越した治療', img: '麻酔画像', text: "1, できる限り歯を削らない\n2, できる限り神経は抜かない\n3, できる限り抜歯しない\n当院では以上の事を心がけ将来を見越した治療を行なっています。"},
          {title: '⑧	定期検診の実施', img: '定期検診画像', text: '定期検診を行う事で予防治療にも力を入れています。'},
          {title: '⑨	訪問診療の実施', img: '訪問診療画像', text: 'お体が不自由な方や、お子様の為当院では訪問診療も実施しております。'},
          {title: '⑩	治療に関する事前同意の徹底', img: '同意画像', text: '当院では必ず同意を得た上で治療を行います。医師による勝手な判断での治療は行いません。'},
          {title: '⑪	広々とした診療室', img: '診療室画像', text: "広々とした診療室をご用意させていただいております。ベビーカーと一緒に診療室へ入れます。\nベビーカーや車椅子のお客様もご安心してご来院ください。"}]
    .row.pb-3.pl-2.pr-2
      - sticking.each do |s|
        .col-12.bg-white-area.mb-3
          .row
            .col-12
              .h5= s[:title]
            .col-12.pb-2
              = image_tag("http://placehold.jp/250x50.png?text=#{s[:img]}", alt: '医院', class: 'sticking-img')
            .col-12.text=simple_format(s[:text])
-# .medical-contents
-#   .container
-#     .row.pb-3.pt-4
-#       .col-12
-#         %h4 診療内容
-#         - medical_contents = [['診療内容1', '診療内容2'], ['診療内容3', '診療内容4'], ['診療内容5', '診療内容6']]
-#         - medical_contents.each do |medical_content|
-#           .row.mr-1.ml-1.mb-3
-#             .col-6.medical_content.border
-#               .row
-#                 %h5.col-12= medical_content.first
-#               .row
-#                 .col-12
-#                   診療内容について
-#             .col-6{class: medical_content.second.nil? ? '' : 'border'}
-#               - next if medical_content.second.nil?
-#               .row
-#                 %h5.col-12= medical_content.second
-#               .row
-#                 .col-12
-#                   診療内容について
-#
-# .hospital-introduction
-#   .container
-#     .row.pb-3.pt-4
-#       .col-12
-#         %h4 院内紹介
-#         - hospital_introduction = ['院内紹介1', '院内紹介2', '院内紹介3', '院内紹介4', '院内紹介5']
-#         - hospital_introduction.each do |h|
-#           .row.border.mr-1.ml-1.mb-3
-#             .col-12
-#               .row
-#                 %h5.col-12= h
-#               .row
-#                 .col-12
-#                   院内紹介院内紹介院内紹介院内紹介院内紹介院内紹介院内紹介院内紹介院内紹介院内紹介
.container
  .row.mt-4.mr-1.ml-1#map
