.bg-h
  .container.pt-3.pb-5
    .row
      .col-6
        .card-deck
          .card
            .card-body
              %h5.card-title
                %i.fas.fa-comment-alt
                %span 院長からのメッセージ
              %p.card-text
                .news-table
                  %table.table
                    %tbody
                      - @notification.each do |n|
                        %tr
                          %td= n.created_at.strftime('%Y/%m/%d')
                        %tr
                          %td= raw Rinku.auto_link(simple_format(n.text))
      .col-6
        %h5= link_to image_tag('110499.jpg', { class: 'img-fluid', :border => '0',
          :alt => 'ドクターズファイル'}), 'https://doctorsfile.jp/h/110499/df/1/'
  .container.pt-3
    .row
      .col-12
        %h3
          %span
            -# = image_tag('icon_doctor.png', alt: '', class: 'tc-b-img')
            %i.fas.fa-tooth.pb-1
            %span いしがき歯科の特徴

  - stickings = @sticking.each_slice(2).to_a
  .container
    - stickings.each do |sticking|
      .card-deck
        - sticking.each_with_index do |s, i|
          .card.mb-3
            .card-body
              %h5.card-title= s[:title]
              %p.card-text= image_tag(s[:img], alt: '医院', class: 'sticking-img')
              %p.card-text= simple_format(s[:text])
