- if controller.controller_name == 'dentists'
  - (1..5).each do |i|
    .d-none= image_tag("clinic#{i}.png", alt: '医院', id: "clinic#{i}")

.content.pt-3
  .container
    .row
      .col-10.text-left.clinic-info
        %h1= 'いしがき歯科'
        -# TODO
        -# = 'TEL 0567-22-3977'
        -# %br
        .address= '住所 愛知県津島市寺前町３丁目21-１'
      .col-2.pl-0.clinic-info.pt-2
        = image_tag('logo2.png', alt: 'いしがき歯科', class: '')
.content
  .container
    .row
      .col-9= image_tag('medical_hours.png', alt: '診療時間', class: 'img-medical-hours')
      .col-3.pl-0
        .link-directori-ntroduction= link_to image_tag('directori-ntroduction.png',
          alt: '院長紹介ページへ', class: 'img-fluid'),
          'https://doctorsfile.jp/h/110499/df/1/'
- if controller.controller_name == 'dentists'
  .content.pb-2
    .container
      .row
        .col-12.text-center.clinic-img-wrapper
          = image_tag('clinic1.png', alt: '医院', id: 'clinic-img')
.trim.mb-3= image_tag('wave.png', alt: 'いしがき歯科', class: 'img-wave')
