.content.pt-3
  .container
    .row
      .col-10.text-left.clinic-info
        %h1= link_to image_tag('logo-1.png', alt: 'いしがき歯科',
          class: 'img-fluid'), root_path

        = '〒496-0042'
        %br
        .address= '愛知県津島市寺前町3丁目21-1'
      .col-2.pl-0.clinic-info.pt-2
        = image_tag('logo2.png', alt: 'いしがき歯科', class: '')
.content
  .container
    .row
      .col-12= image_tag('medical_hours.png', alt: '診療時間', class: 'img-medical-hours')
- if controller.controller_name == 'dentists'
  .content.pb-2.mt-3
    .container-fluid.pr-0.pl-0
      .row
        .col-12.clinic-img-wrapper
          %ul#fade
            - (1..4).each do |i|
              %li= image_tag("slide#{i}.jpg", alt: '医院', class: "clinic-img")
