.collapse.navbar-collapse
  %ul.navbar-nav.mx-auto
    - contents.each do |c|
      %li.nav-item.text-center.active
        = link_to c[:link], class: 'nav-link' do
          - if c[:img_name].kind_of?(Array)
            = image_tag c[:img_name].first, class: 'nav-link-icon'
            = image_tag c[:img_name].second, class: 'nav-link-icon'
          - else
            = image_tag c[:img_name], class: 'nav-link-icon'
          %br
          .nav-text= c[:text]
