!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}
    %meta{ content: 'いしがき歯科. 診療科目. 歯科; 歯科口腔外科; 小児歯科. 責任者, 石垣賢二郎院長 電話番号, 0567-22-3977. 所在地, 〒496-0042 愛知県津島市寺前町3-21-1. 近くの名鉄津島線 藤浪駅より徒歩3分。 夜になるとライトアップされる建物がひときわ目立ち、歯科医院とは思えないようなおしゃれな雰囲気が漂う「いしがき歯科」。三代にわたり地域の皆さまを診療してきた医院が、2019年9月に藤浪駅前にリニューアルオープン。', name: 'Description'}
    %meta{ content: 'いしがき歯科,石垣 賢二郎,医者,ドクター,医師,歯医者,名鉄津島線,藤浪駅', name: 'keywords' }

    %title いしがき歯科
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  #pc
    %header
      .business-information
        = render partial: 'portal/common/header'
    - if request.from_pc?
      .container-fluid
        %nav.navbar.navbar-expand-sm.navbar-light
          = render partial: 'portal/common/navbar_smart_phone', locals: { contents: @contents }
    - else
      .container-fluid
        %nav.navbar.navbar-expand.navbar-light
          = render partial: 'portal/dentists/navber', locals: { contents: @contents }
    %body= yield
    %footer= render partial: 'portal/dentists/footer'
