!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}
    %meta{ content: '津島市のいしがき歯科は名鉄藤浪駅より徒歩３分の歯医者です。愛西市・あま市・稲沢市からも多くご来院頂いております。バリアフリー設計で広々駐車場完備。正確な知識と治療、わかりやすい説明を心がけています。', name: 'Description'}
    %meta{ content: 'いしがき歯科,津島市,歯科,歯医者,藤浪駅,愛西市,あま市,稲沢市', name: 'keywords' }

    %title いしがき歯科
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  #pc
    %header
      .business-information
        = render partial: 'portal/common/header'
    - if request.from_pc?
      .container-fluid
        %nav.navbar.navbar-expand-sm.navbar-light
          = render partial: 'portal/common/navbar_smart_phone', locals: { contents: @contents }
    - else
      .container-fluid
        %nav.navbar.navbar-expand.navbar-light
          = render partial: 'portal/dentists/navber', locals: { contents: @contents }
    %body= yield
    %footer= render partial: 'portal/dentists/footer'

  -# %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-169003693-1"}
  -# :javascript
  -#   window.dataLayer = window.dataLayer || [];
  -#   function gtag(){dataLayer.push(arguments);}
  -#   gtag('js', new Date());
  -#
  -#   gtag('config', 'UA-169003693-1');

  %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-116567101-2"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-116567101-2');
