!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}
    %title Dentist
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
    -# %link{:href => "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAQDWU6bng3D3hHKS_vzFXljtLXG589wpk"
  #pc
    %header
      .business-information
        = render partial: 'header'
    - if request.from_pc?
      .container-fluid
        %nav.navbar.navbar-expand-sm.navbar-light
          = render partial: 'portal/common/navbar_smart_phone', locals: { contents: @contents }
    - else
      .container-fluid
        %nav.navbar.navbar-expand.navbar-light
          = render partial: 'portal/dentists/navber', locals: { contents: @contents }
    %body= yield
