!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}
    %title Dentist
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  #pc
    %header
      .business-information
        = render partial: 'portal/common/header'
    - if request.from_pc?
      .container-fluid
        %nav.navbar.navbar-expand-sm.navbar-light
          = render partial: 'portal/common/navbar_smart_phone', locals: { contents: @contents }
    - else
      .container-fluid
        %nav.navbar.navbar-expand.navbar-light
          = render partial: 'portal/dentists/navber', locals: { contents: @contents }
    %body= yield
    %footer= render partial: 'portal/dentists/footer'
