!!!
%html
  %head
    / Global site tag (gtag.js) - Google Analytics
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-169003693-1"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-169003693-1');

    -# Global site tag (gtag.js) - Google Ads: 467579167
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=AW-467579167"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'AW-467579167');

      gtag('config', 'AW-467579167/R1YICJTbgqICEJ_i-t4B', {
        'phone_conversion_number': '0567223977'
      });

    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}
    %meta{ content: 'いしがき歯科,津島市,歯科,歯医者,藤浪駅,愛西市,あま市,稲沢市', name: 'keywords' }

    -# Description の設定
    :ruby
      case controller.controller_name
      when 'abouts'
        # 当院について
        @description = 'いしがき歯科は津島市藤浪駅近く。皆様に安心して歯科治療をいけていただけるように、最新の滅菌機器を導入するなど衛生管理の徹底に努めています。歯でお困りの方は気軽にご連絡ください。'
        @title = '当院について｜いしがき歯科【名鉄藤浪駅すぐ】津島市・愛西市で歯医者をお探しなら'
      when 'dentists'
        # TOP ページ
        @description = '津島市のいしがき歯科は名鉄藤浪駅より徒歩３分の歯医者です。愛西市・あま市・稲沢市からも多くご来院頂いております。バリアフリー設計で広々駐車場完備。正確な知識と治療、わかりやすい説明を心がけています。'
        @title = '【公式】いしがき歯科【名鉄藤浪駅すぐ】津島市・愛西市で歯医者をお探しなら'
      when 'director_introducings'
        # 院長挨拶
        @description = 'いしがき歯科は津島市藤浪駅近く。正確な知識と治療技術、分かりやすい説明で皆様の歯のお困りごとを解決します。｢いしがき歯科に来てよかった｣と思っていただける医院を目指します。'
        @title = '院長あいさつ｜いしがき歯科【名鉄藤浪駅すぐ】津島市・愛西市で歯医者をお探しなら'
      when 'facilities'
        # 施設案内
        @description = 'いしがき歯科は津島市藤浪駅近く。2018年に移転・開院したばかりの新しい歯科医院です。バリアフリー設計、広々駐車場完備。キッズスペースも備えておりますので、お子様連れでも安心してお越しください。'
        @title = '施設案内｜いしがき歯科【名鉄藤浪駅すぐ】津島市・愛西市で歯医者をお探しなら'
      when 'flow_examinations'
        # 初めての方へ
        @description = 'いしがき歯科は津島市藤浪駅近く。皆様の歯の不安を解消できるよう、カウンセリングから検査・治療、経過観察まで丁寧に対応いたします。まずはお気軽にご連絡ください。'
        @title = '初めての方へ｜いしがき歯科【名鉄藤浪駅すぐ】津島市・愛西市で歯医者をお探しなら'
      when 'recruits'
        # 採用情報
        @description = 'いしがき歯科では、私達の今後の発展のために力を貸していただけるスタッフ（歯科衛生士・受付助手）を募集しています。小さいお子様をお持ちの方でも提携の託児所があるので安心して働いていただけます。ご興味のある方のご連絡をお待ちしております。 '
        @title = '採用情報｜いしがき歯科【名鉄藤浪駅すぐ】津島市・愛西市で歯医者をお探しなら'
      when 'visit_to_visits'
        # 訪問診察
        @description = 'いしがき歯科では、20年以上前から数多くの施設や個人宅へ訪問診療を行っております。認定訪問歯科衛生士も在籍しておりますので、安心してお問い合わせください。'
        @title = '訪問診察｜いしがき歯科【名鉄藤浪駅すぐ】津島市・愛西市で歯医者をお探しなら'
      else
        # 上記全てに該当しないページ
        @description = '津島市のいしがき歯科は名鉄藤浪駅より徒歩３分の歯医者です。愛西市・あま市・稲沢市からも多くご来院頂いております。バリアフリー設計で広々駐車場完備。正確な知識と治療、わかりやすい説明を心がけています。'
        @title = '【公式】いしがき歯科【名鉄藤浪駅すぐ】津島市・愛西市で歯医者をお探しなら'
      end
    %meta{ content: "#{@description}", name: 'Description'}

    %title="#{@title}"
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  #sp
    %header
      = render partial: 'portal/common/header_smart_phone'
      .container-fluid.pl-0.pr-0
        %nav.navbar.navbar-expand.navbar-light.pr-0.pl-0
          = render partial: 'portal/common/navbar_smart_phone', locals: { contents: @contents_sp }
    %body
      = yield
      = render partial: 'portal/common/footer_smart_phone'
    %footer.container-fluid.fixed-bottom.pr-0.pl-0= render partial: 'portal/common/float_smart_phone'
