!!!
%html
  %head
    / Global site tag (gtag.js) - Google Analytics
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-169003693-1"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-169003693-1');
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}
    %meta{ content: 'いしがき歯科,津島市,歯科,歯医者,藤浪駅,愛西市,あま市,稲沢市', name: 'keywords' }


    -# Description の設定
    :ruby
      case controller.controller_name
      when 'abouts'
        # 当院について
        @description = '津島市のいしがき歯科は名鉄藤浪駅より徒歩３分の歯医者です。愛西市・あま市・稲沢市からも多くご来院頂いております。バリアフリー設計で広々駐車場完備。正確な知識と治療、わかりやすい説明を心がけています。'
      when 'dentists'
        # TOP ページ
        @description = '津島市のいしがき歯科は名鉄藤浪駅より徒歩３分の歯医者です。愛西市・あま市・稲沢市からも多くご来院頂いております。バリアフリー設計で広々駐車場完備。正確な知識と治療、わかりやすい説明を心がけています。'
      when 'director_introducings'
        # 院長挨拶
        @description = '津島市のいしがき歯科は名鉄藤浪駅より徒歩３分の歯医者です。愛西市・あま市・稲沢市からも多くご来院頂いております。バリアフリー設計で広々駐車場完備。正確な知識と治療、わかりやすい説明を心がけています。'
      when 'facilities'
        # 施設案内
        @description = '津島市のいしがき歯科は名鉄藤浪駅より徒歩３分の歯医者です。愛西市・あま市・稲沢市からも多くご来院頂いております。バリアフリー設計で広々駐車場完備。正確な知識と治療、わかりやすい説明を心がけています。'
      when 'flow_examinations'
        # 初めての方へ
        @description = '津島市のいしがき歯科は名鉄藤浪駅より徒歩３分の歯医者です。愛西市・あま市・稲沢市からも多くご来院頂いております。バリアフリー設計で広々駐車場完備。正確な知識と治療、わかりやすい説明を心がけています。'
      when 'recruits'
        # 採用情報
        @description = '津島市のいしがき歯科は名鉄藤浪駅より徒歩３分の歯医者です。愛西市・あま市・稲沢市からも多くご来院頂いております。バリアフリー設計で広々駐車場完備。正確な知識と治療、わかりやすい説明を心がけています。'
      when 'visit_to_visits'
        # 訪問診察
        @description = '津島市のいしがき歯科は名鉄藤浪駅より徒歩３分の歯医者です。愛西市・あま市・稲沢市からも多くご来院頂いております。バリアフリー設計で広々駐車場完備。正確な知識と治療、わかりやすい説明を心がけています。'
      else
        # 上記全てに該当しないページ
        @description = '津島市のいしがき歯科は名鉄藤浪駅より徒歩３分の歯医者です。愛西市・あま市・稲沢市からも多くご来院頂いております。バリアフリー設計で広々駐車場完備。正確な知識と治療、わかりやすい説明を心がけています。'
      end
    %meta{ content: "#{@description}", name: 'Description'}

    %title 【公式】いしがき歯科【名鉄藤浪駅すぐ】津島市・愛西市で歯医者をお探しなら
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  #sp
    %header
      = render partial: 'portal/common/header_smart_phone'
      .container-fluid.pl-0.pr-0
        %nav.navbar.navbar-expand.navbar-light.pr-0.pl-0
          = render partial: 'portal/common/navbar_smart_phone', locals: { contents: @contents_sp }
    %body
      = yield
      = render partial: 'portal/common/footer_smart_phone'
    %footer.container-fluid.fixed-bottom.pr-0.pl-0= render partial: 'portal/common/float_smart_phone'
