!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}
    %title Dentist
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAQDWU6bng3D3hHKS_vzFXljtLXG589wpk"
  %header
    = render partial: 'header_smart_phone'
    .container
      %nav.navbar.navbar-expand.navbar-light.pr-0.pl-0= render partial: 'navbar_smart_phone'
  %body= yield
  %footer.fixed-bottom= render partial: 'footer_smart_phone'
