!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}
    %title Dentist
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  #sp
    %header
      = render partial: 'portal/common/header_smart_phone'
      .container-fluid.pl-0.pr-0
        %nav.navbar.navbar-expand.navbar-light.pr-0.pl-0
          = render partial: 'portal/common/navbar_smart_phone', locals: { contents: @contents_sp }
    %body
      = yield
      = render partial: 'portal/common/footer_smart_phone'
    %footer.container-fluid.fixed-bottom.pr-0.pl-0= render partial: 'portal/common/float_smart_phone'
